<p>  {{{booked}}}<a></a></p>
<p>  Appointment ID:{{{Id}}}<a></a></p>
<p>  Doctor Name:{{{Doctorname}}}<a></a></p>
<!--p>  Slot Booked:{{{BookingDate}}} at {{{Time}}}<a></a></p-->
<p>  Time:{{{Time}}}<a></a></p>
<p>  Date:{{{BookingDate}}}<a></a></p>


<p>  {{{signature}}}<a></a></p>
